:root {
  --background: rgb(15, 75, 105);
  --background-highlight: rgba(187, 188, 225, 0.08);
  --color: rgb(255, 255, 255);
  --main-highlight-1-border: rgb(224, 203, 82);
  --main-highlight-1-background: rgb(252, 250, 238);
  --main-highlight-1-color: rgb(87, 75, 15);
  --main-highlight-2-border: rgb(82, 224, 82);
  --main-highlight-2-background: rgb(233, 251, 233);
  --main-highlight-2-color: rgb(23, 130, 23);
  --main-text-background: rgb(255, 255, 255);
  --main-text-color: rgb(21, 35, 54);
  --main-link-background: rgb(188, 231, 211);
  --main-link-color: rgb(10, 18, 28);
  --main-padding: 1.5rem 3.2rem 1.6rem 3.1rem;
  --article-text-max-width: 50rem;
  --article-main-image-max-width: 70rem;
}

/* Defaults */
body {
  background: var(--background);
  color: var(--color);
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  line-height: 1.625;
  margin: 0;
}

h1 {
  font-weight: 800;
  margin-top: 0;
}

h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 > .secno, h3 > .secno, h4 > .secno, h5 > .secno, h6 > .secno {
  font-weight: bold;
  margin-right: 0.5em;
}

a {
  color: #3056a9;
}

a:hover {
  color: #386fc4;
  transition: color 0.3s ease;
}

img {
  max-width: 90%;
}

dt {
  font-weight: bold;
}

/* Layout */
header, footer {
  align-items: center;
  background: var(--background);
  color: var(--color);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  padding: var(--main-padding);
  position: relative;
}

header a, footer a {
  color: #fff;
  opacity: 0.95;
  text-wrap: nowrap;
}

header a:hover, footer a:hover,
header a:focus, footer a:focus {
  color: var(--color);
  transition: opacity 0.3s ease;
  opacity: 1;
}

main {
  background-color: var(--main-text-background);
  color: var(--main-text-color);
  min-height: 100%;
  padding: var(--main-padding);
}

main > article :is(p, ul, ol, dl) {
  max-width: var(--article-text-max-width);
}


/** Max content width */
@media (min-width: 1280px) {
    header, .breadcrumb ol, main > *, footer {
        margin: 0 auto;
        max-width: calc(1280px - 6.2rem);
    }
}


/* Classes */
.data-model-diagram {
  max-width: var(--article-main-image-max-width);
}

.icon-text {
  vertical-align: top;
  width: 1.6rem;
}

.left-block {
  display: block;
  max-width: 36rem;
}

.list-style-none {
  list-style-type: none;
  padding-left: 0;
}

.section-separated {
  margin-top: 3rem;
  border-top: 1px solid var(--background);
}

.main-link {
  background: var(--main-link-background);
  border-radius: 3rem;
  color: var(--main-link-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  text-decoration: none;
  opacity: 1;
  padding: .9rem 1.6rem 1rem 1.5rem;
}

.use-case-list, .use-case-list ol {
  counter-reset: item;
}

.use-case-list > li, .use-case-list > li > h2 {
  font-size: 1.6rem;
  font-weight: bold;
}

.use-case-list > li > ol {
  font-size: 1rem;
  font-weight: normal;
}

.use-case-list li {
    display: block;
    position: relative;
}

.use-case-list li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px;
}

/* W3C spec notes and examples style boxes */
.example, .note {
  padding: 0.5rem 1rem 0.6rem 1.1rem;
  margin: 1.1rem 0 1rem;
}

.example {
  background: var(--main-highlight-1-background);
  border-left: .5rem solid var(--main-highlight-1-border);
}

.example h5 {
  color: var(--main-highlight-1-color);
}

.note {
  background: var(--main-highlight-2-background);
  border-left: .5rem solid var(--main-highlight-2-border);
}

.note h5 {
  color: var(--main-highlight-2-color);
}

.example h5, .note h5 {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5em 0 0.5em 0;
}

.example .example-title .marker {
  text-transform: none;
}

.example .highlight, .example .highlight .w {
  background-color: transparent;
  margin: 0;
  overflow-x: auto;
}
