/* Header nojs (no hamburger menu) */
.header.nojs {
  overflow-x: auto;
}

/* Default Link Styles */
.header a {
  text-decoration: none;
}

/* Homepage link */
.header .home {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  font-size: 1.6rem;
  font-style: normal;
}

/* Nav */
.header .nav ul {
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: .8rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .nav li {
  margin: 0;
}

.header .nav a {
  display: block;
  font-size: 1.2rem;
  padding: .4rem .8rem;
  border-radius: 0.25rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

.header .nav a:hover {
  background-color: var(--background-highlight);
}

/* Default navigation styles */
.header .nav {
  position: static;
  width: auto;
  height: auto;
  background-color: transparent;
  left: 0;
  display: block;
}

.header .hamburger-menu {
  display: none;
}

/* Hamburger navigation styles */
@media (max-width: 1024px) {
  .header:not(.nojs) .nav {
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: var(--background);
    z-index: 999;
    justify-content: center;
  }

  .header:not(.nojs) .nav ul {
    flex-direction: column;
    gap: 2rem;
  }

  .header:not(.nojs) .nav a {
    font-size: 1.6rem;
    padding: .8rem 1.6rem;
  }

  /* Transition */
  .header .nav.open {
    left: 0;
    transition: left 0.3s ease;
  }

  .header .nav:not(.open) {
    left: -100%;
    transition: left 0.3s ease;
  }

  /* Disable transitions during viewport changes to prevent unwanted animations */
  .header .nav.resizing {
    transition: none !important;
  }

  /* Hamburger menu */
  .header .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1000;
  }

  .header.nojs .hamburger-menu {
    display: none;
  }

  .header .hamburger-menu.active {
    position: fixed;
    top: 2.55rem;
    right: 3.2rem;
  }

  .header .hamburger-menu span {
    width: 100%;
    height: 3px;
    background: var(--color);
    border-radius: 3px;
    transition: all 0.3s ease;
  }

  .header .hamburger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .header .hamburger-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .header .hamburger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}
